<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Karuta Online</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
  </head>
  <body>
    <div id="help-popup">
      <div onclick="hideHelp()" class="custom-button" id="close-help">Close</div>
      <p class="big-popup">How to Play</p>
      <p class="popup-text">Either choose a deck from the drop down menu to create a room, or type in a four letter code to join someone else's room.</p>
      <p class="small-popup">Basic Game Rules:</p>
      <p class="popup-text">
        In Karuta, you have a deck of songs, and a card representing each song. 
        Half of those cards are put on the board, with you and your opponent each getting a quarter of the total cards. 
        A random sample from the first half of a random song will play, and you have to find the card for that song (if it's on the board) and click it as fast as you can, regardless of which side of the board it is on.
        If you do not think the card is on the board, you can tap out. Once you tap out, you're done for the round.
        <br><br>
        By getting a song correct, you can remove it from the board. 
        Your goal is to remove all the songs from your side of the board, so if you correctly click a song on your opponent's side of the board, you can choose a card on your side to send to your opponent.
      </p>
      <p class="small-popup">Faults:</p>
      <p class="popup-text">
        If you click the wrong card, and the correct card is on the <b>same</b> side you made your incorrect guess on, nothing happens. 
        However, if you click the wrong card, and the correct card <b>not</b> on the same side, then you receive a "fault".
        At the end of the round, for each fault you did, your opponent gets to send you a card as a penalty.
        Each round, you can only get penalized for faults once for each side, so you cannot accumulate more than two fault penalties in a round.
        <br><br>
        Do note that even if you click the wrong card or fault, you're not out of the round yet. 
        Unless your opponent finds the right card or you tap out, you can still keep going if you see the right card.
      </p>
      <p class="small-popup">Game Functionality:</p>
      <p class="popup-text">
        Click on the "Ready for Next Song" button to indicate you're ready to start the next round.
        When the round starts, this button will be replaced with the "Tap Out" button, allowing you to tap out.
        <br><br>
        Mirroring a real life Karuta game, your side is the bottom side, and your opponent's is the top side. 
        Once again, if you see the right card on the board, you should click it regardless of which side it's on.
        When you need to send cards though, remember that you need to choose from your (the bottom) side.
        <br><br>
        You may drag and drop cards to swap their positions as long as you're only moving cards on your own side.
        Currently, your opponent doesn't see what changes you make (they see the original formation), and you do not see what movements your opponents make.
      </p>
    </div>
    <div id="index-menu">
      <div id="top-bar">
        <div onclick="showHelp()" id="go-help" class="custom-button">Help</div>
      </div>
      <h1 id="title">Karuta Online</h1>
      <div id="create-div">
      <select id="playlist-select"></select>
      <div id="create-room" class="custom-button" onclick="sendCreateRequest()">Create a Room</div>
      </div>
      <div id="join-div">
      <input type="text" id="room-code-input" placeholder="Enter a Room Code"/>
      <div id="join-room" class="custom-button" onclick="sendJoinRequest()">Join a Room</div>
      </div>
      <div id="deck-viewer-div">
      <div id="view_decks" class="custom-button" onclick="sendToDeckViewer()">View Decks</div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
  </body>
</html>
