body {
    margin: 0;
    min-height: 100vh;
    background-color: #f8fafc;
    background-image:
        repeating-linear-gradient(
            60deg,
            transparent 0 57px,
            rgba(157, 120, 151, 0.1) 57px 60px
        ),
        repeating-linear-gradient(
            -60deg,
            transparent 0 57px,
            rgba(157, 120, 151, 0.1) 57px 60px
        ),
        linear-gradient(#8862a1, #ffe0fb 60%, #f0ff7e 100%);
    size: 100vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#close-help {
    position: relative;
    justify-self: right;
}
#create-div, #join-div {
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 5px;
    margin: 3px;
}
#go-edit {
    position: absolute;
    right: 170px;
    top: 30px;
    padding: 5px;
}
#help-popup {
    display: none;
    position: relative;
    width: 50%;
    height: fit-content;
    padding: 15px;
    text-align: center;
    left: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
    outline: 3px solid black;
    background-color: white;
    min-width: 250px;
}
#title {
    margin-top: 100px;
    text-align: center;
    -webkit-text-stroke: 3px rgb(119, 66, 112);
    font-size: 60px;
    color: #ececec;
}
#top-bar {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    gap: 10px;
}
.big-help {
    font-size: 30px;
}
.custom-button {
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    padding: 4px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    width: fit-content;
}
.resize {
    resize: both;
    overflow: auto;
}
.small-help {
    font-size: 24px;
    justify-self: left;
}
.text-help {
    font-size: 18px;
    text-align: left;
}