body {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 110vh;
    background-color: #f8fafc;
    background-image:
        repeating-linear-gradient(
            60deg,
            transparent 0 57px,
            rgba(157, 120, 151, 0.1) 57px 60px
        ),
        repeating-linear-gradient(
            -60deg,
            transparent 0 57px,
            rgba(157, 120, 151, 0.1) 57px 60px
        ),
        linear-gradient(#80bde3, #ffe0fb 60%, #9f73bf 100%);
    size: 100vh;
}
#chat {
    background: #f8fafc;
    border: 3px solid black;
    height: 100%;
    padding: 2px;
    display: none;
}
#chat-div {
    position: absolute;
    right: 20px;
    top: 55px;
    width: 25%;
    z-index: 2;
}
#chat-entry {
    display: flex;
    gap: 3px;
}
#chat-history {
    height: calc(100% - 35px);
    overflow-y: scroll;
}
#chat-text {
    width: calc(100% - 60px);
}
#close-help {
    position: relative;
    justify-self: right;
}
#finish-popup {
    position: fixed;
    width: 30%;
    left: 35%;
    height: auto;
    background-color: #f8fafc;
    border: 3px solid black;
    padding: 5px;
    z-index: 3;
    display: none;
}
#game-header {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    gap: 3px;
    background-color: #000000;
    border: 3px solid black;
    margin-bottom: 20px;
    height: 120px;
}
#game-header > div {
    flex: 1;
    padding: 5px;
    overflow-y: scroll;
    min-height: 0;
    background-color: #f8fafc;
}
#game-header > #notifications {
    background-color: white;
    padding: 0px;
    min-height: 0;
    overflow-y: scroll;
}
#game-space-self {
    border-top: 0px;
}
#help-popup {
    display: none;
    position: relative;
    width: 50%;
    height: fit-content;
    padding: 15px;
    text-align: center;
    left: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
    outline: 3px solid black;
    background-color: white;
    min-width: 250px;
}
#room-info {
    -webkit-text-stroke: 1px rgb(119, 66, 112); 
    text-shadow: 1px 2px 2px gray;
    color: #ececec;
    max-width: 70%;
}
#toggle-chat {
    justify-self: right;
    margin-bottom: 3px;
}
#top-bar {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    gap: 10px;
}
#volume-div {
    margin-left: 20px;
    border: 3px solid black;
    border-bottom: none;
    background-color: white;
    width: fit-content;
    padding: 3px;
}
.big-popup {
    font-size: 30px;
}
.card {
    width: 110px;
    height: 220px;
    margin: 5px;
    border: 2px solid gray;
    overflow-wrap: break-word;
    overflow-y: hidden;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
}
.card-image {
    height: 50%;
    top: 1px;
    max-width: 100%;
    max-height: 67%;
    pointer-events: none;
    object-fit: contain;
    pointer-events: none;
}
.card-text {
    width: 95%;
    bottom: 1px;
    background-color: white;
    pointer-events: none;
}
.custom-button {
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    padding: 4px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    width: fit-content;
}
.custom-button:hover {
    border: 2px solid maroon;
    outline: 1px solid maroon;;
}
.game-space {
    border: 3px solid black;
    position: relative;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    padding: 3px;
    justify-items: center;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #f2ea96;
    background-image: 
        repeating-linear-gradient(
            transparent 0 28px,
            rgba(160, 155, 84, 0.15) 28px 30px
        );
    display: none;
}
.notifications-item {
    background-color: white;
    display: block;
}
.notifications-item:nth-child(even) {
    background-color: #e0e0e0;
}
.opponent-message {
    color: #7b0c0c
}
.own-message {
    color: #0c0c7b
}
.pgram {
    margin-left: -50px;
    padding: 5px;
    padding-left: 70px;
    background-color: #a46bb8;
    padding-right: 20px;
    width: fit-content;
    transform: skewX(-20deg);
}
.pgram > span {
    display: inline-block;
    transform: skewX(20deg);
}
.right-align {
    float: right;
}
.small-popup {
    font-size: 24px;
    justify-self: left;
}
.popup-text {
    font-size: 18px;
    text-align: left;
}
@media (max-width: 768px) {
  #game-header {
    flex-direction: column; 
    height: 400px;
  }
}